{% extends "base.html" %}

{% block title %}Resources - GreenPill{% endblock %}

{% block content %}
      <!-- blog -->
      <div class="blog">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage text_align_center">
               <h2>Free Resources and Media</h2>
               <p>Explore a curated selection of blogs, books, and courses to deepen your understanding of herbal medicine.</p>
            </div>
         </div>
      </div>
      <div class="row d_flex">
         <!-- Herbal Blogs Section -->
         <div class="col-md-4">
            <div class="latest">
               <figure><img src="static/images/plants-flat-lay.jpg" alt="Herbal Blogs"/></figure>
               <div class="nostrud">
                  <h3>Herbal Blogs</h3>
                  <p>Discover inspiring articles and insights from leading herbalists around the world.</p>
                  <ul>
                     <li class="yellow"><a href="https://theherbalacademy.com/blog/" target="_blank">The Herbal Academy Blog</a></li>
                     <li><a href="https://herbsocietyblog.wordpress.com/" target="_blank">Herb Society Blog</a></li>
                     <li class="yellow"><a href="https://chestnutherbs.com/blog/" target="_blank">Chestnut Herbs Blog</a></li>
                     <li><a href="https://www.eatweeds.co.uk/" target="_blank">Eat Weeds Blog</a></li>
                  </ul>
                  <a class="read_more" href="https://tinyurl.com/4z886sda">Explore More Blogs</a>
               </div>
            </div>
         </div>
         <!-- Free Books Section -->
         <div class="col-md-4">
            <div class="latest">
               <figure><img src="static/images/books.jpg" alt="Free Herbal Books"/></figure>
               <div class="nostrud">
                  <h3>Free Books</h3>
                  <p>Access a collection of free eBooks to enhance your herbal knowledge.</p>
                  <ul>
                     <li><a href="https://repository.poltekkes-kaltim.ac.id/1148/1/Handbook%20of%20Medicinal%20Herbs%20(%20PDFDrive%20).pdf" target="_blank">Handbook of Medicinal Herbs</a></li>
                     <li class="yellow"><a href="https://info.mountainroseherbs.com/free-herbal-ebook" target="_blank">Mountain Rose Herbs eBook</a></li>
                     <li><a href="https://nook.barnesandnoble.com/products/2940162831884/sample?sourceEan=2940162831884" target="_blank">Nook Free Sample Book</a></li>
                     <li class="yellow"><a href="https://www.ncbi.nlm.nih.gov/books/NBK92771/" target="_blank">NCBI Herbal Book</a></li>
                     <li><a href="https://www.greenpathherbschool.com/free-herb-books" target="_blank">Green Path Herb School Free Books</a></li>
                  </ul>
                  <a class="read_more" href="https://tinyurl.com/4p2b3hp8">Discover More Books</a>
               </div>
            </div>
         </div>
         <!-- Free Herbal Courses Section -->
         <div class="col-md-4">
            <div class="latest">
               <figure><img src="static/images/cosmetic.jpg" alt="Free Herbal Courses"/></figure>
               <div class="nostrud">
                  <h3>Free Herbal Courses</h3>
                  <p>Start your journey into herbalism with these free online courses.</p>
                  <ul>
                     <li><a href="https://herbalista.org/free-school/" target="_blank">Herbalista Free School</a></li>
                     <li class="yellow"><a href="https://alison.com/tag/herbalism" target="_blank">Alison Herbalism Courses</a></li>
                     <li><a href="https://www.classcentral.com/course/herbalmedicine-12872" target="_blank">Class Central Herbal Medicine Course</a></li>
                     <li class="yellow"><a href="https://discoveringherbalmedicine.org.uk/free-herbal-course-herbalism-online/" target="_blank">Discovering Herbal Medicine Online Course</a></li>
                  </ul>
                  <a class="read_more" href="https://tinyurl.com/mr2h8zjf">Find More Courses</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
      <!-- end blog -->
{% endblock %}
